site_name: RMA Kinetics User Guide
repo_url: https://github.com/nsbuitrago/rma-kinetics-rs
repo_name: nsbuitrago/rma-kinetics-rs
theme:
  name: material
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: white
      scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: black
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

  features:
    - navigation.tracking
    - navigation.sections
    - navigation.instant
    - navigation.tabs
    - navigation.path
    - navigation.footer
    - navigation.indexes
    - content.code.copy
nav:
  - Library Docs:
      - User Guide:
          - index.md
      - Models:
          - models/index.md
          - models/constitutive.md
          - models/tetoff.md
          - models/dox.md
          - models/cno.md
          - models/chemogenetic.md
      - Solvers:
          - solvers/index.md
      - Solution:
          - solution/index.md
  - Application Docs:
      - app/index.md
      - app/web.md
      - app/desktop.md
markdown_extensions:
  - admonition
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.arithmatex:
      generic: true
plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            allow_inspection: false
            heading_level: 3
            inherited_members: true
            members_order: source
            show_bases: false
            show_if_no_docstring: true
            show_overloads: false
            show_root_heading: true
            show_signature_annotations: true
            show_source: false
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            find_stubs_package: true
          paths: [python]
          load_external_modules: false
extra_javascript:
  - javascript/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
