name: Rust Release

on:
    push:
        branches:
            - main
        tags:
            - '*'
    workflow_dispatch:

permissions:
    contents: read

jobs:
    test:
        runs-on: ${{ matrix.platform.runner }}
        strategy:
            matrix:
                platform:
                    - runner: ubuntu-22.04
                      target: x86_64
                    - runner: ubuntu-22.04
                      target: x86
                    - runner: ubuntu-22.04
                      target: aarch64
                    - runner: ubuntu-22.04
                      target: armv7
                    - runner: ubuntu-22.04
                      target: s390x
                    - runner: ubuntu-22.04
                      target: ppc64le
        steps:
        - uses: actions/checkout@v4
        - name: Test
          run: cargo test --verbose

    publish:
        runs-on: ubuntu-latest
        needs: test
        steps:
          - uses: actions/checkout@v4
          - name: Publish
            run: cargo publish --workspace
            env:
              CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

    
